table, .table
    border-collapse: collapse

    tr, .tr
        border-bottom: 1px solid $color-border

    thead, .thead

        tr, .tr

        th, .th
            padding: 15px 20px 35px 20px
            font-size: $font-l
            @extend .font-important

    tbody, .tbody

        tr, .tr

        td, .td
            padding: 15px 20px