* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  padding: 20px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

img {
  width: 100%;
  object-fit: contain;
}

*:focus {
  outline: 2px solid #1c5b50 !important;
}

:root {
  font-size: 16px;
  --color-link: $color-links;
}

* {
  font-family: "Manrope";
}

a {
  color: var(--color-link);
  text-decoration: none;
}

.font-important, .card, table thead th, table thead .th, table .thead th, table .thead .th, .table thead th, .table thead .th, .table .thead th, .table .thead .th {
  font-weight: 700;
  color: #1c5b50;
}

.font-active {
  font-weight: 700;
  color: #dcfdad;
}

body {
  background: #fefbfb;
}

.bg-dark, .region-topbar {
  background: #4d8077;
  color: #ffffff;
  --color-link: $color-text-white;
}

.bg-darker, .region-sidebar, button, .button, .region-sidebar .menu a {
  background: #1c5b50;
  color: #ffffff;
}

.bg-active, .region-sidebar .menu a .--active, button.--active, .button.--active, .region-sidebar .menu a.--active {
  background: #dcfdad;
  color: #1c5b50;
  --color: #1c5b50 !important;
}

.success {
  --color: #1c5b50;
}

.error {
  --color: #E14343;
}

.info {
  --color: #b5b5b5;
}

.warning {
  --color: #f5a623;
}

button, .button, .region-sidebar .menu a {
  border: none;
  outline: none;
  height: 64px;
  padding: 10px;
  margin: 10px;
  min-width: 128px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
i, .icon {
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  --color: var(--color, #202020);
  color: var(--color);
  --background: transparent;
  background: var(--background);
}
i::before, .icon::before {
  font-family: "Font Awesome 5 Free";
}
i .reverse, .icon .reverse {
  color: var(--background);
  background: var(--color);
}

.icon-add::before, i.action-add::before {
  content: "\f067";
  --color: #1c5b50;
}

.icon-edit::before, i.action-edit::before {
  content: "\f044";
  --color: #1c5b50;
}

.icon-delete::before, i.action-delete::before {
  content: "\f2ed";
  --color: #E14343;
}

table, .table {
  width: 100%;
  border-collapse: collapse;
}
table tr, table .tr, .table tr, .table .tr {
  border-bottom: 1px solid #b5b5b5;
}
table thead th, table thead .th, table .thead th, table .thead .th, .table thead th, .table thead .th, .table .thead th, .table .thead .th {
  padding: 15px 20px 35px 20px;
  font-size: 1.125rem;
  text-align: left;
}
table thead th > div, table thead .th > div, table .thead th > div, table .thead .th > div, .table thead th > div, .table thead .th > div, .table .thead th > div, .table .thead .th > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
table tbody td, table tbody .td, table .tbody td, table .tbody .td, .table tbody td, .table tbody .td, .table .tbody td, .table .tbody .td {
  padding: 15px 20px;
}
table tbody td > div, table tbody .td > div, table .tbody td > div, table .tbody .td > div, .table tbody td > div, .table tbody .td > div, .table .tbody td > div, .table .tbody .td > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.action {
  color: var(--color, #202020);
  font-weight: 700;
}

a.action {
  text-decoration: underline;
  --color: #1c5b50 !default;
}
a.action-delete {
  --color: #E14343;
}

i.action-delete {
  --color: #E14343;
}
i.action-edit {
  --color: #1c5b50;
}
i.action-add {
  --color: #1c5b50;
}

button.action, .button.action, .region-sidebar .menu a.action {
  --color: #ffffff;
  text-decoration: none;
}
button.action-delete, .button.action-delete, .region-sidebar .menu a.action-delete {
  background: #E14343;
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  gap: 30px;
}

.card {
  position: relative;
  width: 223px;
  aspect-ratio: 2/1;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: 0px 3px 11px 4px rgba(0, 0, 0, 0.0745098039);
  cursor: pointer;
  transition: opacity 0.1s;
}
.card .actions {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 7px;
  padding: 10px;
  z-index: 2;
}
.card .card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: transparent;
  font-size: 0;
}
.card .card-link > i {
  display: none;
}

.circle {
  position: relative;
  background: var(--background, #1c5b50);
  color: var(--color, #ffffff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 54px;
}
.circle.s {
  width: 24px;
  font-size: 0.85rem;
}
.circle.s > i {
  max-height: 100%;
}
.circle.s > i:before {
  font-size: 0.85rem;
}
.circle.m {
  width: 32px;
  font-size: 1rem;
}
.circle.m > i {
  max-height: 100%;
}
.circle.m > i:before {
  font-size: 1rem;
}
.circle.l {
  width: 44px;
  font-size: 1.125rem;
}
.circle.l > i {
  max-height: 100%;
}
.circle.l > i:before {
  font-size: 1.125rem;
}
.circle.xl {
  width: 54px;
  font-size: 1.375rem;
}
.circle.xl > i {
  max-height: 100%;
}
.circle.xl > i:before {
  font-size: 1.375rem;
}
.circle .circle-link, .circle a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
}

a.circle {
  text-decoration: none;
}

.circle-list {
  display: flex;
  flex-wrap: wrap;
}
.circle-list > .circle {
  margin-left: -8px;
  border: 1px solid #b5b5b5;
}

form, .form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
form label, .form label {
  margin-bottom: 5px;
}
form input, form textarea, form select, .form input, .form textarea, .form select {
  padding: 10px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #b5b5b5;
  background-color: #ffffff;
  width: 100%;
}
form button, .form button {
  margin: 0;
}
form option, .form option {
  padding: 4px;
  border-radius: 4px;
}
form div:has(> input[type=checkbox]), .form div:has(> input[type=checkbox]) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 24px;
}
form input[type=checkbox], .form input[type=checkbox] {
  margin: 0;
  width: auto;
}
form .cols, .form .cols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 20px;
}
form .cols > div, .form .cols > div {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.component-logo {
  display: flex;
  flex-align: center;
  justify-content: center;
}
.component-logo img {
  max-width: 100px;
}

.search-and-select {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
}
.search-and-select__search {
  margin-bottom: 0;
}
.search-and-select__search:focus {
  outline: none !important;
  border: 2px solid #1c5b50;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 0.5em 0.5em 0 0;
}
.search-and-select__select-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  gap: 0.5em;
  font-size: 0.7rem;
  list-style: none;
  margin: 1em 0;
}
.search-and-select__checkboxes {
  display: flex;
  flex-direction: column;
  border: 1px solid #b5b5b5;
  border-top: none;
  padding-top: 5px !important;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  border: 2px solid #1c5b50 !important;
  border-top: none !important;
}
.search-and-select__checkbox {
  display: none;
}
.search-and-select__checkbox:checked + label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #1c5b50;
  margin-left: 0.5em;
}
.search-and-select__checkbox-label {
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  user-select: none;
}
.search-and-select__select-item {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #b5b5b5;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background 0.2s;
}
.search-and-select__select-item:after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.search-and-select__select-item:hover {
  background: rgba(225, 67, 67, 0.5);
}

div:has(> .search-and-select) {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
}
div:has(> .search-and-select) > label {
  display: block;
  width: 100%;
  text-align: left;
}

.employe--vignette {
  font-weight: bold;
}

.task-table {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.task-table__tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-table__status {
  flex: 1;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #b5b5b5;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.task-table__status h2 {
  color: #1c5b50;
  font-size: 1.125rem;
  text-transform: capitalize;
}
.task-table__status .action-add {
  display: inline-block;
  text-decoration: none;
  text-color: #202020;
  font-size: 0.85rem;
  font-weight: 600;
}

.task-card {
  padding: 10px;
  border-radius: 4px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.task-card__title {
  font-size: 0.85rem;
  color: #202020;
}
.task-card__description {
  font-size: 0.7rem;
  color: #5c5c5c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.task-card__action {
  display: flex;
  gap: 10px;
  justify-content: right;
}
.task-card__action .action:before {
  font-size: 0.85rem;
}

.region-topbar {
  height: 155px;
  width: 100%;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.region-sidebar {
  grid-row: 1/3;
  width: 150px;
  height: 100%;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: url("../img/bg-menu.svg") center bottom no-repeat #1c5b50 !important;
}
.region-sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.region-sidebar .menu i {
  font-size: 1.375rem;
}
.region-sidebar .menu a {
  display: flex;
  justify-content: space-evenly;
  min-width: unset;
}
.region-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 32px 16px;
}

.employee-row__cell-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 32px;
  row-gap: 0;
}
.employee-row__vignette {
  grid-column: 1/2;
  grid-row: 1/3;
}
.employee-row__name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: bold;
}
.employee-row__email {
  grid-column: 2/3;
  grid-row: 2/3;
}

.project-page__title {
  display: flex;
  gap: 32px;
  align-items: center;
}
.project-page__title .action-edit {
  --color-background: #dcfdad !important;
}