<sidebar class="section section-sidebar">
    {% include '/components/logo.html.twig' %}
    <nav class="menu">
        <a href=""><i class="fa-solid fa-list-check"></i><span>Projets</span></a>
        <a href="" class="--active"><i class="fa-regular fa-user"></i><span>Équipe</span></a>
    </nav>
</sidebar>