<div class="task-card">
    <h3 class="task-card__title">{{ task.name }}</h3>
    <p class="task-card__description">{{ task.description }}</p>
    <div class="task-card__action">
        {% include 'task/task--link-edit-icon.html.twig' with {'task': task} %}
        {% include 'task/task--link-delete-icon.html.twig' with {'task': task} %}
    </div>    
</div>