.task-table
    padding: 10px
    display: flex
    gap: 10px

    &__tasks
        display: flex
        flex-direction: column
        gap: 10px

    &__status
        flex: 1
        padding: 20px
        border-radius: 16px
        border: 1px solid $color-border
        height: fit-content

        display: flex
        flex-direction: column
        gap: 16px

        h2
            color: $color-primary
            font-size: $font-l
            text-transform: capitalize

        .action-add
            display: inline-block
            text-decoration: none
            text-color: $color-text
            font-size: $font-s
            font-weight: 600