{% extends "base.html.twig" %}

{% block title %}
    <h1>Projets</h1>
{% endblock %}

{% block content %}
    <div class="cardlist">
        {% for project in projects %}
            <div class="card">
                <h3>
                    {{project.name|capitalize}}
                </h3>
                {% include 'project/project--link-view.html.twig' with {'project': project, 'classes' : 'card-link'} %}
                <div class="actions">
                    <div>                         
                        {% include 'project/project--link-edit-icon.html.twig' with {'project': project} %}
                        {% include 'project/project--link-archive-icon.html.twig' with {'project': project} %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="card">
            <div class="circle s"><i class="icon-add"></i></div>
            <p>Ajouter un projet</p>
            {% include 'project/project--link-add.html.twig' with {'classes' : 'card-link' } %}
        </div>
    </div>

{% endblock %}