{% extends 'base.html.twig' %}

{% block title %}
    <div class="project-page__title">
        <h1>{{ title }}</h1>
        <div class="circle-list">
            {% for employee in project.members %}
                {% include 'employee/employee--vignette.html.twig' with {'employee': employee} %}
            {% endfor %}
        </div>
        {% include 'project/project--link-edit.html.twig' with {'project': project, 'classes': 'button bg-active'} %}
    </div>
{% endblock %}

{% block content %}
    <div class="task-table">
        {% for status in project.allowedStatuses %}
            {% include 'project/project--status.html.twig' with {'status': status, 'project': project} %}
        {% endfor %}
    </div>
{% endblock %}